@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body{
    background-image: url(/assets/svg/layered-waves-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar-brand{
    height: 38.86px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.navbar{
    background: #0A0808;
}
span{
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38.86px;
}
.bi-arrow-down-circle{
    color: #46C719;
    font-size: 30px;
}
.bi-arrow-up-circle{
    font-size: 30px;
    color: #CAE816;
}
.box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #54545471; 
    border-radius: 23px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
@media only screen and (min-width: 992px) {
    .container{
        width: calc(7/12*100%);
    }
}
.btn-primary, .btn-primary:hover, .btn-primary:disabled, .btn-primary:focus{
    background-color: #fd7e14;
    border-color: #fd7e14;
}
.form-control, .form-control:focus, .form-control:disabled{
    color: #FFFFFF ;
    background-color: #0a080800;
    border-color: #c4c4c462;
}
.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    transition: 0.2s;
  } 
.is-active{
    background-color: #c4c4c462;
} 
.fake-btn {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-msg {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
.file-input:focus{
    outline: none;
}
progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #c4c4c462;
}
progress[value]::-webkit-progress-bar{
   background: #c4c4c462;
   border-radius: 3px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value{
    background-color: #fd7e14;
    border-radius: 3px;
}