@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body{
  background-image: url(/assets/svg/layered-waves-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar-brand{
  height: 38.86px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  display: flex;
  align-items: center;
    color: #FFFFFF;
}
.navbar{
    background: #0A0808;
}
span{
    color: #FFFFFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 38.86px;
}
.bi-arrow-down-circle{
    color: #46C719;
  font-size: 30px;
}
.bi-arrow-up-circle{
  font-size: 30px;
    color: #CAE816;
}
.box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #54545471;
  border-radius: 23px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
@media only screen and (min-width: 992px) {
    .container{
        width: calc(7/12*100%);
  }
}
.btn-primary, .btn-primary:hover, .btn-primary:disabled, .btn-primary:focus{
  background-color: #fd7e14;
  border-color: #fd7e14;
}
@media screen and (max-width: 500px) {
  button#Send {
    margin-top: 10px;
    margin-left: 0% !important;
    width: 100%;
    border-radius: 0.25rem;
  }
}
.form-control, .form-control:focus, .form-control:disabled{
    color: #FFFFFF ;
  background-color: #0a080800;
  border-color: #c4c4c462;
}
.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  transition: 0.2s;
}
.is-active{
  background-color: #c4c4c462;
}
.fake-btn {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-input:focus{
  outline: none;
}
.input-group{
  justify-content: space-around;
}
progress{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #c4c4c462;
}
progress[value]::-webkit-progress-bar{
  background: #c4c4c462;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value{
  background-color: #fd7e14;
  border-radius: 3px;
}
.full-screen-modal {
  background-color: black transparent;
  height: 92vh;
  display: flex;
  align-items: center;
  backdrop-filter: blur(4px) saturate(150%);
  justify-content: center;
}
.custom-modal {
  padding: 15px;
  width: 30%;
  background-color: #2b2a2a;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px gray;
  margin-bottom: 100px;
}
.custom-modal > p {
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}
.deny,
.accept {
  width: 30%;
  border-radius: 10px;
  border: none;
  margin: 5px;
  padding: 10px;
  background-color: #f17d3a;
  color: white;
  cursor: pointer;
}

.accept:hover {
  background-color: #ff5e00;
}
.deny {
  background-color: rgb(190, 23, 23);
}
.deny:hover {
  background-color: rgb(231, 3, 3);
}
.button {
  display: flex;
  flex-direction: row-reverse;
}
#custom-nav, 
#custom-nav p, 
.iconic, 
.down-uplo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipent{
  display: flex;
  flex: 1;
}
.whole-body{
  border-radius: 10px;
}
@media only screen and (max-width: 1000px) {
  .button {
    justify-content: center;
    align-items: center;
  }
  .accept, .deny {
    width: 50%;
  }
  .custom-modal {
    width: 90%;
  }
}
@media only screen and (max-width: 500px){
  .custom-nav{
    justify-content: space-between !important;
    font-size: medium;
  }
  #custom-nav i{
    font-size: 80%;
  }
  .custom-nav span{
    font-size: medium;
    margin: 0px !important;
  }
  #custom-title{
    font-size: 100%;
    margin: 0px !important;
  }
  #head-place{
    display: flex;
  }
  .head-place{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .recipent{
    margin: 5px 5px 10px 0px;
    width: 100%;
  }
  #Recipient{
    width: 80% !important;
  }
  #Connect{
    width: 100%;
    border-radius: 0.25rem;
    margin-left: 0 !important;
    margin-right: 5px;
  }
  .file-msg{
    display: none;
  }
  .internal{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #custom-title{
    font-size: 2rem;
  }
  #custom-nav{
    flex-direction: column;
  }
  .icons{
    font-size: 22px !important;
  }
}
